.box{
    border:1px solid black;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top:5%;
    background-color: rgba(122,122,122,0.2);
    margin-bottom: 2em;
}

#no_user{
    margin-top: 20%;
    margin-left: 50%;
    color: gray;
}

.name{
    cursor: pointer;
}
#profile{
    border-radius: 5em;
    border-color: greenyellow;
    padding-top: 1em;
    width: 20%;
    height:20%;
}
.inside{
    border:1px solid black;
}
#search{
    margin-top:5em;
    margin-left:44%;
    width: 24%;
    border-radius:1em;
}
@media only screen and (max-width:769px){
    #search{
        margin-left:36%;
        width:48%;
    }
    img{
        border-radius: 5em;
        border-color: greenyellow;
        padding-top: 1em;
        width: 40%;
        height:29%;
    }
}