<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action='/upload' method="post" enctype="multipart/form-data">
	<input type="file" name="image"/>
	<button>Submit</button>
</form>
<h1><%=typeof msg!='undefined'?msg:''%></h1>
</body>
</html>