<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form enctype="multipart/form-data" method="POST" action="/upload">
		<input type="file" name="filename">
		<input type="submit" name="submit">
	</form>

</body>
</html>