<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action='/submit' method="POST">
		<label>Email</label>
		<input type="email" name="Email"/>
		<label>Password</label>
		<input type="password" name="Password"/>
		<button>
			Submit
		</button>		
	</form>

</body>
</html>