<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/sendotp">
            <input type='text' placeholder="name" name="name" required/>
            <input placeholder="mobile" type='text' name="mobile" requried/>
            <button type='submit'>Send Otp</button>
        </form>
    </body>
</html>