<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/verify/<%= mobile %> ">
            <input type="text" name="otp" placeholder="enter the otp"/>
            <button>Verify</button>
        </form>
    </body>
</html>