<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<img src="<%typeof src!='undefined'?src:'http://www.demotivation.us/media/demotivators/demotivation.us_WE-ARE-WAITING-STILL-WAITING_14150305823.jpg'%>" height='200ppx' width='200px'>
</body>
</html>