<html>
    <body>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <button type="submit">Upload</button>
        </form>
        <br><br><br>
            <img src="image/<%= file[0].filename %>" alt="abhinav" height="200px" width="200px">
           
</html>