<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="abhi.css">
</head>
<body>
        <div id='div'>
            <%- include('head.ejs')%>
                <% foo.map(i=>{%>
                    <h1><%=i%></h1>
                <%})%>
            </div>

</body>
</html>

