<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form enctype="multipart/form-data" method="POST" action="/upload">
		<h1>
			<%= typeof msg!='undefined'?msg:'' %>
		</h1>
		<input type="file" name="fieldname"><br>
		<input type="submit" name="submit">
    </form>
    <div>
        <img src="<%= typeof file != 'undefined'?file:'' %>">
    </div>

</body>
</html>