<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/task1/5d398a130ee981462fda6917">
        <input name="name" type="text" placeholder="desc">
        <button type="submit">Submit</button>
    </form>
    <!-- <form method="POST" action="/task2/5d398a130ee981462fda6918">
        <input name="name" type="text" placeholder="desc">
        <button type="submit">Submit</button>
    </form>
    <form method="POST" action="/task3/5d398a130ee981462fda6919">
        <input name="name" type="text" placeholder="desc">
        <button type="submit">Submit</button>
    </form> -->
</body>
</html>